::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

/* :root {
    --animate-duration: 400ms;
} */

.fadeIn {
    animation: fadeIn 1s;
}

.fadeOut {
    animation: fadeOut 1s;
}

.fadeInRight {
    animation: fadeInR 1s;
}

.fadeOutRight {
    animation: fadeOutR 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInR {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOutR {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(40px);
        opacity: 0;
    }
}

body {
    /* background: #fbfafb; */
    /* background: #222; */
    /* color: #fff !important; */
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.main-nav {
    position: relative !important;
}

.main-nav {
    padding-top: 8px;
    padding-bottom: 5px;
}

.nav-logo img {
    width: 70px;
}

.projects {
    padding: 2rem;
    overflow-x: scroll;
    margin: 0;
    padding-right: 0;
}

.project-list {
    display: flex;
    overflow-x: scroll;
    margin: 0;
}

.proj-info {
    position: relative;
    display: flex;
    background: #222;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    height: 380px;
    /* width: 1551.2px; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw));
    color: #fff;
    padding: 0 1rem;
}

.proj-info .proj-vector {
    padding: 3rem 0rem;
}

.proj-info .proj-vector img {
    width: 154px;
    float: right;
}

.proj-info .proj-descrp {
    position: relative;
    display: block;
    padding: 3rem 0rem 2rem 4rem;
}

.proj-info .proj-descrp .descrp {
    position: relative;
    /* height: 238px; */
    height: 170px;
    overflow-y: auto;
}

.proj-info .proj-descrp .descrp h1 {
    font-size: 2rem;
}

.proj-info .proj-descrp .descrp p {
    /* text-shadow: 2px 2px 4px #000; */
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    color: #bbb;
    padding: 0 1rem 0 0;
    top: -7px;
    text-shadow: 2px 2px 4px #000;
}

.proj-info .proj-descrp .proj-project {
    display: flex;
    margin-top: 2.5rem;
}

.proj-info .proj-descrp .proj-project h2 {
    font-weight: 500;
    text-shadow: 2px 2px 4px #000;
    color: #eee;
}

.proj-info .proj-descrp .proj-project a {
    /* display: flex; */
    margin-right: 0.5rem;
}

.proj-info .proj-descrp .proj-project a i {
    /* align-self: center; */
    font-size: 2.2rem;
    text-shadow: 2px 2px 4px #000;
}

.author-stack {
    padding: 3rem 4.5rem 1rem 2rem;
}

.proj-info .proj-author {
    /* display: flex; */
}

.proj-info .proj-author .author {
    /* padding-left: 3rem; */
}

.proj-info .proj-author .author h2 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #000;
}

.proj-info .proj-author .author-links {
    display: flex;
    /* margin-left: 0.7rem; */
}

.proj-info .proj-author .author-links a {
    margin-right: 0.5rem;
}

.proj-info .proj-author .author-links a i {
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px #222;
    transition: 0.3s;
}

.proj-info .proj-author .author-links a .fa-linkedin:hover {
    color: #0e76a8 !important;
}

.proj-info .tech-stack {
    margin-top: 2rem;
}

.proj-info .tech-stack h1 {
    font-size: 1.2rem;
    font-weight: 300;
    text-shadow: 2px 2px 4px #000;
}

.proj-info .tech-stack button {
    border: none;
    outline: none;
    color: #fff;
    background: #6C63FF;
    border-radius: 20px;
    padding: 0.2rem 0.8rem;
    margin: 0 0.3rem 0.4rem 0;
    font-size: 0.7rem;
}

@media screen and (max-width: 1215px) {
    .author-stack {
        padding-right: 1rem;
    }
}

@media screen and (max-width: 991px) {
    .proj-info .proj-vector {
        display: none;
    }
    .proj-info .proj-descrp .descrp {
        height: 195px;
    }
    .proj-info .proj-descrp {
        padding-left: 9.2%;
        padding-top: 2rem;
    }
    .author-stack {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .proj-info {
        height: 340px;
    }
    .proj-info .proj-descrp .descrp {
        height: 168px;
    }
    .proj-info .proj-descrp .descrp p {
        font-size: 14px;
    }
    .proj-info .proj-descrp .proj-project h2 {
        font-size: 22px;
    }
    .proj-info .proj-descrp .proj-project a i {
        font-size: 25px;
    }
    .proj-info .proj-author .author h2 {
        font-size: 18px;
    }
    .proj-info .proj-author .author-links a i {
        font-size: 18px;
    }
    .proj-info .tech-stack h1 {
        font-size: 16px;
    }
    .proj-info .tech-stack button {
        font-size: 10px;
        padding: 0.1rem 0.6rem;
    }
    .swiper-container {
        height: 240px;
        padding: 20px 0 50px !important;
    }
    .swiper-slide {
        width: 190px !important;
    }
    .swiper-slide .card-num{
        top: -0.4rem;
        font-size: 10px;
        height: 1rem;
        width: 3rem;
    } 
    .swiper-slide h5 {
        font-size: 14px;
        padding-top: 1.7rem;
    }
    .swiper-slide .p-limit {
        font-size: 11px;
    }
    .swiper-slide:hover {
        height: unset;
    }
    .swiper-slide .play-card {
        /* top: 8rem; */
        display: none;
        /* height: 1.7rem;
        width: 1.7rem; */
    }
}

@media screen and (max-width: 576px) {
    .proj-info .proj-descrp .descrp {
        margin-right: 9.2%;
    }
    .proj-info .proj-descrp .descrp p {
        line-height: 26px;
    }
    .proj-info .proj-descrp .proj-project h2 {
        font-size: 19px;
    }
    .proj-info .proj-descrp .proj-project a i {
        font-size: 23px;
    }
    .author-stack {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .swiper-container {
        height: 190px;
        padding-bottom: 25px !important;
    }
    .swiper-slide {
        width: 165px !important;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-align-items: center;
        align-items: center;
        border-radius: 40px;
        box-shadow: none;
    }
    .proj-info .proj-descrp {
        padding-top: 3rem;
    }
    .swiper-slide h5 {
        padding-top: 0;
    }
    .swiper-slide .p-limit {
        display: none;
    }
}


/* new projects */


a {
    text-decoration: none;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    /* height: 350px; */
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: white;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}