@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

html {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5715;
  overflow-x: hidden;
}

/* header */

#snow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background: #222;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  /* padding: 0 0 11%; */
  min-height: 450px;
}

.main-nav {
  display: flex;
  position: fixed;
  width: 100%;
  /* padding: 30px 12rem 0; */
  padding: 30px 8% 0;
  z-index: 1;
  transition: 0.4s;
}

.nav-scrolled {
  background: #222 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.4s;
}

.nav-logo {
  float: left;
  padding: 0.2rem 0;
  transition: 0.4s;
}

.nav-logo img {
  width: 76px;
  transition: 0.4s;
}

.header-logo {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.header-logo img {
  width: 250px;
}

nav {
  width: 100%;
}

.nav-comps {
  width: 100%;
  transition: 0.4s;
  margin: 0 auto;
}

.comp-scrolled {
  width: 42rem;
  transition: 0.4s;
  margin-right: 0;
}

.nav-comps ul {
  list-style: none;
  display: flex;
  /* float: right !important; */
  justify-content: center;
  transition: 0.4s;
}

.nav-comps ul li {
  position: relative;
  margin: 1rem 0 0 2.5rem;
  /* padding: 0.2rem 0.5rem; */
}

.nav-comps ul li a::before {
  content: "";
  position: absolute;
  background: #6bc7b8;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  top: 49%;
  left: -0.2rem;
  transition: 0.4s;
  z-index: -100;
}

.nav-comps ul li a {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.2rem 0.6rem 0.6rem;
  transition: 0.4s;
}

.nav-comps ul li a:hover::before {
  border-radius: 40px;
  height: 100%;
  width: 100%;
  top: 5%;
  left: 0;
  background: #fff;
}

.nav-comps ul li a:hover {
  color: #000;
  text-decoration: none;
}

.navbar-toggler {
  /* background-color: #45f !important; */
}

.navbar-nav .nav-link {
  color: white;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.hamburger-icon {
  color: #fff;
  font-size: 1.8rem;
}

.header-content {
  /* display: flex; */
  justify-content: center;
  color: #fff;
  width: 100%;
  padding: 9rem 7rem 11rem;
}

.header-content h1 {
  font-family: "Righteous", cursive;
  display: block;
  font-size: 5.5rem;
  align-self: center;
  text-align: center;
}
/* Notification*/

.alert {
  opacity: 1;
  visibility: visible;
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: sans-serif;
  font-size: 1em;
  max-width: 20em;
  background-color: white;
  border-radius: 0.2em;
  margin: 1em;
  padding: 0.5em;
  box-shadow: 0 0.1em 0.4em -0.1em #616161;
  direction: rtl;
  z-index: 100;
  transition: visibility 0.5s, transform 0.5s ease-in-out, opacity 0.5s ease-in;
}

.close {
  font-size: 1.2em;
  font-style: unset;
  padding: 0.3em 0.5em;
  color: #e74c3c;
  cursor: pointer;
}

.hide {
  transform: translateY(3em);
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 500px) {
  .alert {
    font-size: small;
    margin: 0;
    max-width: unset;
  }
}

/*Timeline*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline-head {
  width: 100%;
  text-align: center;
}

.timeline-head h3 {
  font-family: "Poppins";
  font-size: 3rem;
  color: #222;
  margin: 2rem 0 0rem;
}

.timeline ul {
  background: #ffffff;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 5px;
  background: #000000;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #222;
  /* box-shadow: 0 8px 6px -6px black; */
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0), 0 100px 80px rgba(0, 0, 0, 0); */
  color: #fff;
  /* border-radius: 18px; */
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.timeline ul li div:hover {
  /* color:#007bff; */
  transform: scale(1.02);
  box-shadow: 0 8px 6px -6px black;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #222 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #000000;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #000000 transparent transparent;
  }
}

/* footer */

.footer-content {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  background: #222;
  color: #fff;
  width: 100%;
  padding: 6% 10% 3%;
  clip-path: polygon(100% 100%, 100% 6%, 0% 0%, 0% calc(100% - 0vw));
}

.footer-content h1 {
  font-size: 4.5rem;
}

.fa-heart {
  color: red;
  font-size: 20px;
}

/* Body */

.body-content {
  font-family: "Poppins", sans-serif;
  color: #222;
}

.about-swoc {
  display: flex;
  padding: 0rem 10rem 4rem;
}

.about-vector {
  height: 100%;
  margin-top: auto;
}

.about-vector img {
  width: 355px;
}

.about-content {
  padding: 1.6rem 0;
}

.about-content h3 {
  font-weight: lighter;
  font-size: 3.2rem;
}

.about-content p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  padding: 0 8rem 0 0;
  color: #444;
}

span {
  font-weight: bold;
}

.to-apply {
  padding: 2rem 9rem 3.5rem;
  background: #222;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
}

.to-apply h3 {
  color: #fff;
  margin-bottom: 5%;
  font-weight: lighter;
  font-size: 3rem;
}

.to-apply-card {
  cursor: pointer;
  padding: 3%;
  transition: all 0.3s;
  perspective: 1px;
  border-radius: 100px;
  /* box-shadow: 0 8px 6px -6px black; */
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.diff-col {
  margin-bottom: 5%;
}

.to-apply-card:hover {
  transform: scale(1.1);
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

.btn-container {
  text-align: center;
}

.sponsor-img {
  position: relative;
  width: 60%;
  /*  margin: auto;*/
  top: 50%;
  transform: translate(0, -50%);
}

.img-div {
  text-align: center;
  padding: 2%;
}

.content {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  padding: 0 60px 0 0;
}

.question {
  position: relative;
  background: #fff;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width: 100%;
  cursor: pointer;
}

.answers {
  background: #add8e6;
  padding: 0px 15px;
  margin: 5px 0;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  border-radius: 15px;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}

.questions:checked ~ .answers {
  max-height: 500px;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}

.heading-primary {
  font-weight: lighter;
  font-size: 3rem;
}

.faqs {
  padding: 3rem 7rem 5rem;
}

.our-sponsors {
  padding: 3rem 7rem 5rem;
}

.community h3 {
  text-align: center;
  font-size: 2.3rem;
  text-decoration: underline;
}

h5 {
  color: #444444 !important;
  padding: 15% 0;
}

.trophy {
  margin: 0 auto;
}

.logo-footer {
  width: 100px;
}

.f-contact h3 {
  text-decoration: underline;
}

.social-menu {
  padding: 7% 0 7%;
}

.social-menu ul {
  left: -15px;
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
}

.mailto {
  color: #fff;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 12px;
}

.mail {
  padding: 7% 0 7%;
}

.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}

.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}

.social-menu ul li .fa:hover {
  color: #ffffff;
}

.givemycerti {
  width: 40%;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}

.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077b5;
}

.footer-copyright-info {
  padding: 10px 0;
}

.card-title {
  color: #262626;
  font-size: 1.4rem;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  text-align: center;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}

p .small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: auto;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #add8e6;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(5);
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-out;
}

.card1:hover:before {
  transform: scale(50);
}

.card1:hover p {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card1:hover .card-title {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.disabled {
  opacity: 0.65;
  cursor: no-drop;
}

/* Responsive */

@media only screen and (max-width: 1285px) {
  .about-swoc {
    padding: 0rem 6rem 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .header-content {
    padding: 6rem 7rem 10rem;
  }
  .header-content h1 {
    display: block;
    font-size: 4rem;
  }
  .header-logo img {
    width: 200px;
  }
  .about-swoc {
    display: block;
    text-align: center;
  }
  .about-vector img {
    width: 300px;
  }
  .about-content {
    padding: 1.6rem 0 0;
    max-width: 100% !important;
  }
  .about-content h3 {
    font-size: 3.2rem;
  }
  .about-content p {
    font-size: 1rem;
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 890px) {
  .about-vector img {
    width: 220px;
  }
  .about-content h3 {
    font-size: 2.5rem;
  }
  .about-content p {
    font-size: 0.9rem;
    text-align: justify;
  }
  .faqs {
    padding: 3rem 3rem 5rem;
  }
  .content {
    width: 100%;
    padding: 0;
  }
  .footer-content {
    padding-top: 7%;
  }
  .logo-footer {
    width: 150%;
  }
  .f-contact h3 {
    font-size: 1.5rem;
  }
  .mail h4 {
    font-size: 1.3rem;
  }
  .mailto {
    padding: 3px 10px;
  }
  .social-menu h4 {
    font-size: 1.3rem;
  }
  .social-menu ul li .fa {
    font-size: 20px;
    line-height: 46px;
  }
  .social-menu ul li a {
    width: 45px;
    height: 45px;
  }
  .footer-copyright-info {
    padding: 15px 0 20px;
  }
  .footer-copyright-left p {
    font-size: 15px;
    margin-bottom: 0.5rem;
  }
  .footer-copyright-right {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .to-apply {
    padding: 2rem 2rem 3.5rem;
  }
  .to-apply h3 {
    font-size: 2.3rem;
  }
  .to-apply-card:hover {
    transform: unset;
  }
  .to-apply {
    padding: 2rem 2rem 3.5rem;
  }
  .timeline-head h3 {
    font-size: 2.5rem;
  }
  .sponsor-img {
    transform: translate(0, -50%) scale(0.7);
  }
  .img-div {
    margin-bottom: 2%;
  }
  .f-contact {
    margin-top: 1.5rem;
  }
  .f-contact h3 {
    font-size: 1.3rem;
  }
  .mail {
    padding: 2% 0 1%;
  }
  .mail h4 {
    font-size: 1.1rem;
  }
  .social-menu h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 680px) {
  .header-content {
    padding: 5rem 6rem 9rem;
  }
  .header-content h1 {
    display: block;
    font-size: 3rem;
  }
  .header-logo img {
    width: 150px;
  }
  .about-swoc {
    padding: 0rem 2rem 2rem;
  }
  .about-content h3 {
    font-size: 2rem;
  }
  .about-content p {
    font-size: 0.9rem;
    padding: 0 2.5rem;
  }
  .faqs {
    padding: 2rem 2rem 2rem;
  }
  .question {
    font-size: 0.9rem;
  }
  .plus {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 535px) {
  .header {
    min-height: 350px;
  }
  .header-content {
    padding: 4rem 6rem 7rem;
  }
  .header-content h1 {
    display: block;
    font-size: 2rem;
  }
  .header-logo img {
    width: 120px;
  }
  .hamburger-icon {
    color: #fff;
    font-size: 1.2rem;
  }
  .about-swoc {
    padding: 0rem 2rem 1rem;
  }
  .about-vector img {
    width: 200px;
  }
  .about-content h3 {
    font-size: 1.5rem;
  }
  .about-content p {
    font-size: 0.8rem;
    padding: 0 2rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
  .timeline-head h3 {
    font-size: 1.9rem;
  }
  .f-contact {
    margin-top: 1.5rem;
  }
  .f-contact h3 {
    font-size: 1.2rem;
  }
  .mailto {
    font-size: 0.9rem;
  }
  .social-menu ul {
    left: -12px;
  }
  .social-menu h4 {
    font-size: 1.2rem;
  }
  .social-menu h4 {
    font-size: 1.1rem;
  }
  .social-menu ul li a {
    width: 40px;
    height: 40px;
  }
  .social-menu ul li .fa {
    font-size: 15px;
    line-height: 43px;
  }
  .footer-copyright-left p {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
  .footer-copyright-right {
    font-size: 11px;
  }
}

@media only screen and (max-width: 420px) {
  .header {
    min-height: 320px;
  }
  .header-content {
    padding: 4rem 4rem 5rem;
  }
  .header-content h1 {
    display: block;
    font-size: 2rem;
  }
  .header-logo img {
    width: 110px;
  }
  .about-vector img {
    width: 150px;
  }
  .about-content h3 {
    font-size: 1.3rem;
  }
  .about-content p {
    font-size: 0.7rem;
    padding: 0;
  }
  .to-apply h3 {
    font-size: 1.9rem;
  }
  .card-text {
    font-size: 0.85rem;
  }
  .faqs {
    padding-top: 0;
  }
  .question {
    font-size: 0.7rem;
    padding-bottom: 0;
  }
  .plus {
    font-size: 1em;
  }
}

@media only screen and (max-width: 360px) {
  .header-content {
    padding: 4rem 2rem 5rem;
  }
  .header-content h1 {
    display: block;
    font-size: 2rem;
  }
  .header-logo img {
    width: 110px;
  }
  .about-swoc {
    padding: 0rem 1rem 1rem;
  }
  .about-vector img {
    width: 150px;
  }
  .about-content h3 {
    font-size: 1.2rem;
  }
  .about-content p {
    font-size: 0.65rem;
  }
}
